/** Elements **/
    body{
        font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    }
    h1{
        font-size: 4rem;
        padding-left:.5%;
        position: fixed;
    }
    ul{
        position: absolute;
        float:left;
        padding-left:20px;
        margin-top: 0%;
        list-style: none;
    }
    a{
        color:#6d6d6d;
        text-decoration: none;
        font-size: 16pt;
        font-weight: 500;
    }

      /** Class **/
    .links{
        position: fixed;
        margin-top: 150px
    }
    .button{
        position: relative;
        display:flex;
        justify-content:center;
        align-items: center;
    }
    .primary-content-grid{
        margin-top: 150px;
        display:grid;
        grid-template-columns: 50% 50%;
        grid-row-gap: 50px;
        grid-column-gap:30px;
        padding-left:200px;
        }
    .modal, .modal2{
        display:none;
        position: fixed;
        width: 100%;
        height: 100vh;
        left: 0;
        top: 0;
        background-color: rgba(133, 133, 133, 0.562);
        z-index: 100;
    }
    .modal-content, .modal-content2{
        background-color:white;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        padding:10px;
        width: 86%;
        height: 90vh;
        border-radius: 5px;
        animation-name: open-modal;
        animation-duration: 0.5s;
    }
    .closeBtn, .closeBtn2{
        color: rgba(211, 211, 211, 0.644);
        float: right;
        font-size: 30px;
        margin-right: 10px;
    }
    .arrow{
        cursor: pointer;
        position: absolute;
        top: 50%;
        margin-top: -30px;
        width: 0;
        height: 0;
        border-style: solid;
    }
    .arrow-left{
        border-width: 30px 25px 30px 0;
        border-color: transparent rgba(105, 105, 105, 0.548) transparent transparent;
        left: 0;
        margin-left: 15px;
    }
    .arrow-right{
        border-width: 30px 0 30px 25px;
        border-color: transparent  transparent transparent rgba(105, 105, 105, 0.548);
        right: 0;
        margin-right: 15px;
    }
    .image{
        display:block;
        margin-left: auto;
        margin-right: auto;
        width: 95%;
        max-width: 900px;
    }
    .buttonInfo{
        position: absolute;
        font-family: sans-serif;
        font-size: 37px;
        font-weight: 700;
        color: transparent;
        margin: 0;
    }
    .image-info{
        padding-left: 5%;
    }
    .about-paragraph{
        padding-left: 200px;
        width: 70vw;
        max-width: 950px;
    }
        /** IDs **/
    #about-photo{
        position:relative;
        padding-left: 200px;
        width: 70vw;
        max-width:950px;
        margin-top:1000px;
    }
    #heading{
        position: fixed;
        width: 100%;
        height: 150px;
        background-color: white;
        z-index: 2;
        opacity: 1;
        top:0;
        left:0;
    }
        /** PsuedoClass **/
        
    a:hover{
        cursor: pointer;
        opacity: 0.6;
    }
    a:visited{
        text-decoration: none;
        color:#6d6d6d; 
    }
    .button:hover .buttonImg{
        cursor: pointer;
        opacity:0.6;
    }
    .primary-content-grid .button:hover .buttonInfo{
        color:black;
    }
    .closeBtn:hover{
        cursor: pointer;
        color: black;
    }
    .arrow-right:hover, .arrow-right:focus{
        border-color: transparent  transparent transparent black;
    }
    .arrow-left:hover, .arrow-left:focus{
        border-color: transparent  black transparent transparent;
    }

         /** Media Queeries **/
    @media(min-width:1200px){
        .imggrid{
            grid-template-columns: 23% 23% 23% 23%;
            grid-column-gap:4%;
            }
        }
        
    @media (max-width:770px){
        ul{
                padding-left:10px;
                font-size: 1em;
            }
        h1{
                font-size: 3rem;
            }
        .imggrid{
                grid-template-columns: 48% 48%;
                grid-column-gap:4%;
                padding-left: 100px;
            }
        }
         /* Key Frames */
    @keyframes open-modal{
        from{opacity:0;}
        to{opacity:1;}
    }


   

   